* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    padding: 25px 200px;
}

.header .container { 
    display: flex;
    justify-content: space-between;
}

.header .links {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


ul {
    list-style-type: none;
    
}

.main {
    display: flex;
    padding: 75px 0;
    gap:30px;
}

img {
    max-height: 200px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size:15px;
    font-weight:bold;
    padding: 5px 1px;
    border-radius: 5px;
    border: #3882f6;
    margin-top: 12px;
    width: 120px;
    height:30px;
    text-align: center;
}
.img-subtext {
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.section .container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50PX;
}

.subtext {
    text-align: center;
}

img { 
    border-radius: 5px;
}

.inspiration {
    background-color: #e5e7eb;
    padding: 0 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.author {
    font-size: 20px;
    font-weight: 600;
    align-self:flex-end
}