* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    padding: 25px 250px;
    display: flex;
    flex-direction: column;
}

.header .container { 
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding-left: 200px;
}

.header .links {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


ul {
    list-style-type: none;
    
}

.main {
    display: flex;
    padding: 75px 0;
    gap:30px;
    max-width: 1000px;
    padding-left: 200px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.main>* {
    flex: 1; 
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size:15px;
    font-weight:bold;
    padding: 5px 1px;
    border-radius: 5px;
    border: #3882f6;
    margin-top: 12px;
    width: 120px;
    height:30px;
    text-align: center;
}
.img-subtext {
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.section .container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50PX;
}

.subtext {
    text-align: center;
}

.box img { 
    border-radius: 5px;
}

.inspiration {
    background-color: #e5e7eb;
    padding: 100px 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.author {
    font-size: 20px;
    font-weight: 600;
    align-self:flex-end
}

.contact {
    padding: 100px 200px;
 }
 
 .contact-container {
     display: flex;
     background-color: #3883f6;
     padding: 35px 150px;
     justify-content: space-between;
     border-radius: 10px;
     color: #e5e7eb;
     font-size: 16px;
 }
 
 .contact-info .call {
     font-size: 24px;
     font-weight: 700;
     color: white
 }
 
 .sign {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size:15px;
    font-weight:bold;
    padding: 5px 1px;
    border-radius: 5px;
    border: white solid;
    margin-top: 12px;
    width: 120px;
    height:40px;
    text-align: center;
 }

 .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}